/* Hides the server outage warning. */
#app-mount .wrapper-1Rf91z .scroller-2TZvBN .guildsError-b7zR5H {
display: none;
}


/* Change Link and Highlight Colors. */
.da-anchorUnderlineOnHover[target="_blank"][role="button"] {
    color: rgb(255,105,180)}
.fakeLink-26oLcc {
    color: rgb(255,105,180)
}

/* Change @mention color. */
.mentioned-xhSam7:before {
  background-color: rgb(255,105,180);
}

.mentioned-xhSam7 {
  background-color: rgba(255,105,180,.1);
}

.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z, .mouse-mode.full-motion .mentioned-xhSam7:hover {
  background-color: rgba(255,105,180,.15);
}

/* Minimzies Friends and Nitro in DMs (made by hoofer). */
.da-channel[href="/channels/@me"]  > .da-layout > .da-content {
  visibility: hidden;
}
.da-channel[href="/channels/@me"] {
  max-width: 42px;
}

.da-layout > .da-children {
  visibility: hidden !important;
}

.da-channel[href="/store"]  > .da-layout > .da-content {
  visibility: hidden;
}
.da-channel[href="/store"] {
  max-width: 42px;
}
.da-channel[href="/store"]  {
  position: relative;
  top: -44px;
  margin-bottom: -45px;
  right: -44px;
}

.da-channel[href="/store"]  > .da-layout > .da-content {
  visibility: hidden;
}
.da-channel[href="/store"] {
  max-width: 41px;
}
.da-channel[href="/store"]  {
  position: relative;
  top: -44px;
  margin-bottom: -45px;
  right: -44px;
}
