/* Hides blocked messages. */
div[class^="messageGroupBlocked-"], div[class*=" messageGroupBlocked-"] {
display: none;
}

/* Hides the server outage warning. */
#app-mount .wrapper-1Rf91z .scroller-2TZvBN .guildsError-b7zR5H {
display: none;
}

/* Hides offline users from friends list. */
.privateChannels-1nO12o>div>div>span>a>div>.avatar-3uk_u9>div>svg>foreignObject, div[aria-label$=", Offline"]>svg>foreignObject, div[aria-label$=", Hors ligne"]>svg>foreignObject, rect[fill="rgba(116, 127, 141, 1)"], .pointerEvents-2zdfdO[mask^="url(#svg-mask-status-offline"], .header-QKLPzZ .pointerEvents-2zdfdO[mask^="url(#svg-mask-status-offline"], .header-2BwW8b .pointerEvents-2zdfdO[mask^="url(#svg-mask-status-offline"] {
    fill: transparent!important;
    mask: none!important;
}
