/**
 * @name RadialStatus
 * @author Gibbu#1211
 * @version 1.0.0
 * @description Changes the status icons to wrap around the avatar. Shape can be changed inside the theme file.
 * @source https://github.com/gibbubdstuff/RadialStatus
 * @website https://www.gibbu.me
*/

@import url("https://raw.githack.com/Gibbu/BetterDiscord-Themes/master/RadialStatus/base.css");

:root {
  --rs-small-spacing: 0.75px;  /* spacing between avatar and status */
  --rs-large-spacing: 0px;  /* spacing between avatar and status for user popouts & modals/profiles */
  --rs-width: 2px;  /* Width/thickness of status border */
  --rs-avatar-shape: 50%;  /* 50% for round - 0% for square */
  --rs-online-color: #43b581;  /* color for online status */
  --rs-idle-color: #faa61a;  /* color for idle status */
  --rs-dnd-color: #f04747;  /* color for dnd status */
  --rs-offline-color: #636b75;  /* color for offline status */
  --rs-streaming-color: #643da7;  /* color for streaming status */
  --rs-invisible-color: #747f8d;  /* color for invisible status - Note this will only show for your own invisibility */
}

/* 
THIS IS NOT THE ORIGINAL RADIAL STATUS, THESE ARE MY CUSTOM SETTINGS FROM IT. USE THE LINKS BELOW FOR THE ORIGINAL.
Download: https://betterdiscord.net/ghdl?id=3149
Source & Preview: https://github.com/GibbuBDStuff/RadialStatus
Message Links (Discord Servers):
BetterDiscord: https://discordapp.com/channels/86004744966914048/164998435915825152/686164603012382744
BetterDiscord2: https://discordapp.com/channels/280806472928198656/290958282724737026/686164636797501490
*/
